.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  color: #384625;
  border-top: 1px solid #44532e;
  padding-top: 0.3em;
  margin-bottom: 0.3em;
}

.footer-container {
  position: relative;
  margin-top: auto;
  /* height: 100px; */
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}